@model IEnumerable<APP_BLL.Entities.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Books</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isbn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Isbn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Update" asp-route-id="@item.Id">Edit</a>
                </td>
@*                <td>
                    <a asp-action="Update" asp-route-id="@item.Id">
                        <img src="/icon/edit.png" style="max-width:16px;" height="auto" />
                    </a>
                </td>*@
                <td>
                    <form asp-action="Delete" method="post">
                        <input type="hidden" value="@item.Id" name="bookId" />
                        <input type="image" height="16" width="16" src="/icon/close.ico" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
